body { background-color:red;}

h1 {font-family: 'Spicy Rice', cursive;
}


h2{font-family: 'Indie Flower', cursive;}


img{width:250px;}

.white{color:white;}

.white{font-family: 'Pacifico', cursive;}

.yellow{color:yellow;}

.yellow{font-family: 'Shadows Into Light', cursive;}

h3{font-family: 'Amatic SC', cursive;}

.purple{color:purple;}

.purple{font-family: 'Acme', sans-serif;}

.hotpink{color:hotpink;}

.hotpink{font-family: 'Abril Fatface', cursive;}

p{color:White;}

h3{text-decoration:line-through;}


